// Here you can add other styles

.nav-logo {
    -background: white;
    border-right: 3px solid #3C4B64;
}

.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.last-marker {
    background-image: url('https://cdn.onlinewebfonts.com/svg/img_170531.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    
}

.start-marker {
    background-image: url('https://www.pngfind.com/pngs/m/326-3268483_location-logo-png-map-marker-alt-transparent-png.png');
    color:red;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 90%;
    cursor: pointer;
    position: absolute;
    
}

.normal-marker {
    background-image: url('https://www.pngfind.com/pngs/m/326-3268483_location-logo-png-map-marker-alt-transparent-png.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    -font-family: 'Open Sans', sans-serif;
    color: black;
}
