// Here you can add other styles

.nav-logo {
    -background: white;
    border-right: 3px solid #3C4B64;
}

.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
